---
/**
 * @file PodcastPreview.astro
 * @description Podcast episode summary card for use in episode lists.
 */
import { Image } from 'astro:assets';
import { getImages } from '../../lib/utils';
import { getDefaultFeaturedImage } from '../../lib/fetchSiteSettings.js';
import { formatDateFull, secondsToHMS } from "../../lib/formatDate";
import { decode } from 'html-entities';

const defaultFeaturedImage = await getDefaultFeaturedImage();
const { podcast, classes } = Astro.props;

const {
  title,
  excerpt,
  slug,
  episodeNumber,
  episodeDate,
  episodeLength,
  featuredImage,
  mp3File,
} = podcast;

const imageUrl = featuredImage?.node?.sourceUrl;
let imageLocal = null;
if (imageUrl) {
    imageLocal = await getImages('featured', imageUrl);
} else if (defaultFeaturedImage) {
    imageLocal = await getImages('featured', defaultFeaturedImage);
} else {
    imageLocal = null;
}

const altText = featuredImage?.node?.altText || title;

---
<div class="podcast-preview-wrapper">
  { mp3File && (
    <div class="podcast-player">
      <button class="play-button player-wrapper" data-url={mp3File}>
        <i class="icon-[mdi--play] play-icon"></i>
        <i class="icon-[mdi--pause] pause-icon" style="display: none;"></i>
      </button>
      <audio id={`audio-${slug}`} src={mp3File} preload="none"></audio>
    </div>
  )}

  <div class={`podcast-content ${imageLocal ? 'has-image' : ''}`}>
    <div class="title">
      <a href={`/podcast/${slug}/`}>
        {decode(title)}
      </a>
    </div>
    <div class="excerpt" set:html={decode(excerpt)} />

    <div class="meta">
      { episodeDate && <span class="date">{formatDateFull(episodeDate)}</span> }
      { episodeLength && <i class="icon spacer"></i> <span class="length">{secondsToHMS(episodeLength)}</span> }
    </div>
  </div>

  {imageLocal && (
  <div class="featured-image-wrapper">
    <div class="featured-image">
      <a href={`/podcast/${slug}/`}>
        <Image
          src={imageLocal.default}
          alt={altText}
          width={400}
          inferSize
          loading="lazy"
        />
      </a>
    </div>
  </div>
  )}


  </div>
</div>

<script>
  document.querySelectorAll('.play-button').forEach((button) => {
    const playIcon = button.querySelector('.play-icon') as HTMLElement | null;
    const pauseIcon = button.querySelector('.pause-icon') as HTMLElement | null;

    button.addEventListener('click', () => {
      const url = button.getAttribute('data-url');
      const audio = document.querySelector(`audio[src="${url}"]`) as HTMLAudioElement | null;
      if (audio?.paused) {
        audio.play();
        if (playIcon) playIcon.style.display = 'none';
        if (pauseIcon) pauseIcon.style.display = 'inline-block';
      } else {
        audio?.pause();
        if (playIcon) playIcon.style.display = 'inline-block';
        if (pauseIcon) pauseIcon.style.display = 'none';
      }
    });
  });
</script>
