---
/**
 * @file RelatedPosts.astro
 * @description Displays related posts below an article based on shared tags or categories.
 */
import { stripTags } from '../..//lib/utils.js';
const { relatedPosts, relatedPostsTitle, excerpt, categoryGroup, content } = Astro.props;
const postAlias = import.meta.env.POST_ALIAS;

const hasRelatedPosts = relatedPosts && Array.isArray(relatedPosts) && relatedPosts.length > 0;

// Remove any that do not have a title or slug
const filteredRelatedPosts = relatedPosts.filter(post => post?.title && post?.slug);
if (!hasRelatedPosts || filteredRelatedPosts.length === 0) {
  return '';
}

const title = relatedPostsTitle;

let postsToRender = filteredRelatedPosts;

if (categoryGroup) {
  // Group posts by category only if categoryGroup is true
  postsToRender = filteredRelatedPosts.reduce((acc, post) => {
    const category = post.categories.nodes[0]?.name || 'Uncategorized';
    if (!acc[category]) {
      acc[category] = [];
    }
    acc[category].push(post);
    return acc;
  }, {});
}
const groupedPosts = postsToRender as Record<string, any[]>;
---

<div class="related-posts">
  { relatedPostsTitle && <div class="heading">{title}</div> }
  {categoryGroup ? (
    Object.entries(groupedPosts).map(([category, posts]) => (
      <div class="category-group">
        <h3>{category}</h3>
        <ul class="list">
          {posts.map((related) => (
            <li>
              <a href={`/${postAlias}/${related.slug}/`} class="related-post title">
                {related.title}
              </a>
              { excerpt && <div class="excerpt" set:html={related.excerpt} /> }
              { content && <div class="content" set:html={stripTags(related.content)} /> }
            </li>
          ))}
        </ul>
      </div>
    ))
  ) : (
    <ul class="list">
      {postsToRender.map((related) => (
        <li>
          <a href={`/${postAlias}/${related.slug}/`} class="related-post title">
            {related.title}
          </a>
          { excerpt && <div class="excerpt" set:html={related.excerpt} /> }
          { content && <div class="content" set:html={related.content} /> }
        </li>
      ))}
    </ul>
  )}
</div>
