---
const { relatedPosts, relatedPostsTitle, excerpt } = Astro.props;
const postAlias = import.meta.env.POST_ALIAS;

const hasRelatedPosts = relatedPosts && Array.isArray(relatedPosts) && relatedPosts.length > 0;

// remove any that do not have a title or slug
const filteredRelatedPosts = relatedPosts.filter(post => post?.title && post?.slug);
if (!hasRelatedPosts || filteredRelatedPosts.length === 0) {
  return '';
}

const title = relatedPostsTitle || 'Related Posts';

---

<div class="related-posts">
  <div class="heading">{title}</div>
  <ul class="list">
    {filteredRelatedPosts.map((related) => (
      <li>
        <a href={`/${postAlias}/${related.slug}/`} class="related-post title">
          {related.title}
        </a>
        {excerpt && <div class="excerpt" set:html={related.excerpt} />}
      </li>
    ))}
  </ul>
</div>
