---
import { stripTags } from '../..//lib/utils.js';
const { relatedEvents, relatedEventTitle, excerpt, content } = Astro.props;
const hasRelatedPosts = relatedEvents && Array.isArray(relatedEvents) && relatedEvents.length > 0;
const title = relatedEventTitle || 'Related Events';

// remove any that do not have a title or slug
const filteredRelatedEvents = relatedEvents.filter(post => post?.title && post?.slug);
if (!hasRelatedPosts || filteredRelatedEvents.length === 0) {
  return '';
}

---

<div class="related-events">
  <h3 class="heading">{title}</h3>
  <ul class="list">
    {filteredRelatedEvents.map((related) => (
      <li>
        <a href={`/event/${related.slug}/`} class="title">
          {related.title}
        </a>
        { excerpt && <div class="excerpt" set:html={related.excerpt} /> }
        { content && <div class="content" set:html={stripTags(related.content)} /> }

      </li>
    ))}
  </ul>
</div>
