---
// src/Components/EventList.astro
import dayjs from 'dayjs';
import { GET_EVENTS } from '../lib/queries';
import client from '../lib/apolloClient';

export interface Props {
  title?: string;
  limit?: number;
}

const { title = "Upcoming Events", limit } = Astro.props;

const { data } = await client.query({
  query: GET_EVENTS,
});

function stripTime(dateString) {
  return dateString.split(' ')[0]; // Extract just the date part
}

const allEvents = data.events.nodes;
const currentDate = new Date().toISOString().split('T')[0]; // Get current date in YYYY-MM-DD format

// Filter and sort future events
let futureEvents = allEvents
  .filter(event => stripTime(event.startDatetime) >= currentDate)
  .sort((a, b) => new Date(stripTime(a.startDatetime)).getTime() - new Date(stripTime(b.startDatetime)).getTime());

// Apply limit if provided
if (limit) {
  futureEvents = futureEvents.slice(0, limit);
}

---

<div class="max-w-4xl p-4 mx-auto event-list">
  <h1 class="mb-6 text-3xl font-bold">{title}</h1>
  {futureEvents.map((event, index) => {
    const eventDate = dayjs(event.startDatetime);
    const eventEndDate = event.endDatetime ? dayjs(event.endDatetime) : null;
    return (
      <div class="flex flex-row p-4 mb-4 shadow-md event event-card" data-index={index} data-click-event="">
        <div class="w-20 mb-4">
          <div class="text-lg font-semibold event-weekday">{eventDate.format('ddd')}</div>
          <div class="text-sm event-month">{eventDate.format('MMM')}</div>
          <div class="text-2xl font-bold event-day">{eventDate.format('DD')}</div>
        </div>
        <div class="event-data">
          <a name={event.slug}></a>
          <div class="mb-2 text-lg font-semibold cursor-pointer event-title" data-event={JSON.stringify(event)}>{event.title}</div>
          {event.excerpt && (
            <div class="event-content" set:html={event.excerpt} />
          )}
          {event.location && (
            <div class="text-sm event-location">
              <i class="icon-[mdi--location] relative top-0.5 icon-location"></i> {event.location}
            </div>
          )}
            <div class="event-time">
              {eventDate.format('h:mm A')}
              {eventEndDate ? ` - ${eventEndDate.format('h:mm A')}` : ''}
            </div>
          </div>
        </div>
    );
  })}
</div>

<div id="modalContainer"></div>

<script>
  import { openModal, closeModal } from '../lib/modalUtils';

  // Add click event listeners to all event titles
  document.querySelectorAll('.event-title').forEach(title => {
    title.addEventListener('click', () => {
      const event = JSON.parse(title.getAttribute('data-event'));
      openModal(event);
    });
  });

  // Check for event in URL parameters
  const urlParams = new URLSearchParams(window.location.search);
  const eventParam = urlParams.get('event');
  if (eventParam) {
    try {
      const event = JSON.parse(decodeURIComponent(eventParam));
      openModal(event);
    } catch (error) {
      console.error('Error parsing event from URL:', error);
    }
  }
</script>
