---
// src/Components/EventList.astro
import dayjs from 'dayjs';
import { getAllEvents } from "../lib/fetchAllResults";
import { decode } from 'html-entities';

export interface Props {
  title?: string;
  limit?: number;
}

const { title = "Upcoming Events", limit = 20 } = Astro.props;

const allEvents = await getAllEvents(limit);

---

<div class="event-list">
  <h3 class="event-list-title">{title}</h3>
  {allEvents.map((event, index) => {
    const eventDate = dayjs(event.startDatetime);
    const eventEndDate = event.endDatetime ? dayjs(event.endDatetime) : null;
    return (
      <div class="event-card" data-index={index} data-click-event="">
        <div class="date">
          <div class="day">{eventDate.format('ddd')}<span class="comma">,</span></div>
          <div class="month">{eventDate.format('MMM')}</div>
          <div class="year">{eventDate.format('DD')}</div>
        </div>
        <div class="event-data">
          <a name={event.slug}></a>
          <div class="event-title" data-event={JSON.stringify(event)}>{decode(event.title)}</div>
          {event.excerpt && (
            <div class="content">{decode(event.excerpt)}</div>
          )}
          {event.location && (
            <div class="location">
              <i class="icon-[mdi--location] relative top-0.5 icon-location"></i> {event.location}
            </div>
          )}
            <div class="time">
              {eventDate.format('h:mm A')}
              {eventEndDate ? ` - ${eventEndDate.format('h:mm A')}` : ''}
            </div>
          </div>
        </div>
    );
  })}
</div>

<div id="modalContainer"></div>

<script>
  import { openModal, closeModal } from '../lib/modalUtils';
  // Add click event listeners to all event titles
  document.querySelectorAll('.event-title').forEach(title => {
    title.addEventListener('click', () => {
      try {
        const eventData = title.getAttribute('data-event');
        const event = JSON.parse(eventData);
        openModal(event);
      } catch (error) {
        console.error('Error opening modal:', error);
      }
    });
  });

  // Check for event in URL parameters
  const urlParams = new URLSearchParams(window.location.search);
  const eventParam = urlParams.get('event');
  if (eventParam) {
    try {
      const event = JSON.parse(decodeURIComponent(eventParam));
      openModal(event);
    } catch (error) {
      console.error('Error parsing event from URL:', error);
    }
  }
</script>
