---
// same as src/pages/podcast/[slug].astro
import client from '../../lib/apolloClient';
import { GET_PODCAST_EPISODES, GET_PODCAST_EPISODE } from '../../lib/queries';
import Layout from '../../layouts/Layout.astro';
import BannerTitle from '../../components/BannerTitle.astro';
import RelatedPosts from '../../components/partials/RelatedPosts.astro';
import RelatedEvents from '../../components/partials/RelatedEvents.astro';
import FeaturedImage from '../../components/FeaturedImage.astro';
import { replaceImageUrls } from '../../lib/utils';
import { getAllResults } from '../../lib/fetchAllResults';
import { isEnabled } from '../../lib/enabledFeatures';

export async function getStaticPaths() {
  if (!isEnabled('podcasts')) {
    return [];
  }
  try {
    const allPodcasts = await getAllResults(GET_PODCAST_EPISODES);
    return allPodcasts.map(podcast => ({
      params: { slug: podcast?.slug },
      props: { podcast },
    }));
  } catch (error) {
    console.error('Podcasts are disabled');
    return [];
  }
}

if (!isEnabled('podcasts')) {
  return Astro.redirect('/404');  // or wherever you want to redirect
}

const { slug } = Astro.params;

const { data } = await client.query({
    query: GET_PODCAST_EPISODE,
    variables: { slug },
  });

const page = data.podcastEpisode;
if (!page) {
  throw new Error(`Post not found for slug: ${slug}`);
}

const featuredImage = page?.featuredImage?.node;

const updatedContent = await replaceImageUrls(page?.content).catch(error => {
  console.error('Error replacing image URLs:', error);
  return '';
});

const titleTag = page?.metaTitle || page?.title;
---

<Layout pageId={page?.databaseId} title={titleTag} description={page?.metaDescription} classes="podcast">
  <BannerTitle
    title={page?.title}
    subtitle={page?.subtitle}
    image={page?.bannerImage?.sourceUrl}
    width={page?.bannerImage?.mediaDetails?.width}
    height={page?.bannerImage?.mediaDetails?.height}
    crumbs={[{ label: 'Podcasts', path: '/podcast/'}, { label: page?.title }]}
  />
  <div class="main-body">
    <FeaturedImage imageSourceUrl={featuredImage?.sourceUrl} imageAltText={featuredImage?.altText} />
    <div set:html={updatedContent} />
    <RelatedPosts relatedPosts={page?.relatedPosts} relatedPostsTitle="Local News" excerpt="true"/>
    <RelatedEvents relatedEvents={page?.relatedEvents} relatedEventTitle="Featured Events" excerpt="true" />
  </div>
</Layout>
